<h1>Rock, Paper, Scissors</h1>
<h2>Choose a game type!</h2>

<form action="/single" method="get">
  <input type="submit" name="single_player" value="Alone">
</form>

<form action="/multi" method="get">
  <input type="submit" name="multi_player" value="With a friend">
</form>
